<fieldset class="fieldcontain fieldcontain-audio" id="{{id}}" data-type="{{type}}">
  <legend>{{t "audio.field-title"}}</legend>
  <label for="label">{{t "audio.label-title"}}</label>
  <input type="text" name="label" value="{{label}}">
  <label for="required">{{t "audio.required"}}</label>
  <input type="checkbox" name="required" {{check required "checked"}}>
</fieldset>
