<fieldset class="fieldcontain fieldcontain-checkbox">
  <legend>{{t "checkbox.field-title"}}</legend>
  <label for="label">{{t "checkbox.label-title"}}</label>
  <input type="text" name="label" value='{{t "checkbox.label"}}'>
  <input type="checkbox" name="required" checked="checked">{{t "checkbox.required"}}
  <div class="checkboxes">
    <div class="form-inline">
      <input type="text" value="{{t "checkbox.text"}}" name="checkbox-1-1" id="checkbox-1-1" class="checkbox">
      <button type="button" class="btn btn-default btn-sm remove-checkbox" aria-label="{{t "checkbox.remove"}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <button type="file" class="btn btn-default btn-sm upload-checkbox" aria-label="{{t "checkbox.upload"}} checkbox"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
    </div>
  </div>
  <button type="button" class="btn btn-default btn-sm add-checkbox" aria-label="{{t "checkbox.add-checkbox"}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</fieldset>