<fieldset class="fieldcontain fieldcontain-dtree" id="{{fieldId}}"  data-type="{{type}}">
  <legend>{{t "dtree.field-title"}}</legend>
  <label for="label">{{t "dtree.label-title"}}</label>
  <input type="text" name="label" value="{{label}}">
  <br>
  {{#exists properties.filename}}
    <a href="{{url}}" target="blank">{{properties.filename}}</a>
  {{else}}
  <span class="btn btn-default btn-file">
    Browse<input type="file" class="add-dtree" aria-label="{{t "dtree.add-dtree"}}">
  </span>
  <span class="btn-filename"></span>
  <button type="button" class="btn btn-default btn-sm upload-dtree" aria-label="{{t "dtree.upload"}}">{{t "dtree.upload"}}</button>
  {{/exists}}
</fieldset>
