<fieldset class="fieldcontain fieldcontain-gps">
  <legend>{{t "gps.field-title"}}</legend>
  <label for="label">{{t "gps.label-title"}}</label>
  <input type="text" name="label" value="{{t "gps.label"}}">
  <input type="checkbox" name="required" checked="checked">{{t "gps.required"}}
  <div class="form-inline">
    <input type="checkbox" name="multi-image" checked="checked">{{t "gps.background"}}
  </div>
</fieldset>