<fieldset class="fieldcontain fieldcontain-image" id="{{fieldId}}">
  <legend>{{t "image.field-title"}}</legend>
  <label for="label">{{t "image.label-title"}}</label>
  <input type="text" name="label" value="{{t "image.label"}}">
  <input type="checkbox" name="required" checked="checked">{{t "image.required"}}
  <div class="form-inline">
    <input type="checkbox" name="multi-image" checked="checked">{{t "image.multiple-images"}}
  </div>
  <div class="form-inline">
    <input type="checkbox" name="los">{{t "image.los"}}
  </div>
  <div class="form-inline">
</fieldset>