<fieldset class="fieldcontain fieldcontain-range" id="{{fieldId}}">
  <legend>{{t "range.field-title"}}</legend>
  <label for="label">{{t "range.label-title"}}</label>
  <input type="text" name="label" value="{{t "range.label"}}">
  <input type="checkbox" name="required" checked="checked">{{t "range.required"}}
  <label for="placeholder">{{t "range.default-text-title"}}</label>
  <input type="text" name="placeholder" placeholder="{{t "range.default-text"}}">
  <label for="step">{{t "range.step-label"}}</label>
  <input type="number" name="step" value="{{t "range.step"}}">
  <label for="min">{{t "range.min-label"}}</label>
  <input type="number" name="min" value="{{t "range.min"}}">
  <label for="max">{{t "range.max-label"}}</label>
  <input type="number" name="max" value="{{t "range.max"}}">
</fieldset>