<fieldset class="fieldcontain fieldcontain-section" id="{{fieldId}}" data-type="{{type}}">
  <legend>{{t "section.field-title"}}</legend>
  <label for="label">{{t "section.label-title"}}</label>
  <input type="text" name="label" placeholder="{{t "section.placeholder"}}" value="{{label}}">
</fieldset>
