<fieldset class="fieldcontain fieldcontain-select">
  <legend>{{t "select.field-title"}}</legend>
  <label for="label">{{t "select.label-title"}}</label>
  <input type="text" name="label" value='{{t "select.label"}}'>
  <input type="checkbox" name="required" checked="checked">{{t "select.required"}}
  <div class="options">
    <div class="form-inline">
      <input type="text" value="{{t "select.text"}}" name="fieldcontain-select-{{fieldId}}" id="fieldcontain-select-1-1" class="select">
      <button type="button" class="btn btn-default btn-sm remove-select" aria-label="{{t "select.remove"}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <button type="file" class="btn btn-default btn-sm upload-select" aria-label="{{t "select.upload"}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
    </div>
  </div>
  <button type="button" class="btn btn-default btn-sm add-select" aria-label="{{t "select.add-option"}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</fieldset>