<fieldset class="fieldcontain fieldcontain-textarea" id="{{fieldId}}">
  <legend>{{t "textarea.field-title"}}</legend>
  <label for="label">{{t "textarea.label-title"}}</label>
  <input type="text" name="label" value="{{label}}">
  <input type="checkbox" name="required" {{check required}}>{{t "textarea.required"}}
  <label for="placeholder">{{t "textarea.default-text-title"}}</label>
  <input type="text" name="placeholder" placeholder="{{default-text}}">
  <input type="checkbox" name="persistent" {{check persistentValue}}>{{t "textarea.persistent"}}
</fieldset>