<fieldset class="fieldcontain fieldcontain-text">
  <legend>{{t "text.field-title"}}</legend>
  <label for="label">{{t "text.label-title"}}</label>
  <input type="text" name="label" value="{{t "text.label"}}">
  <input type="checkbox" name="required" checked="checked">{{t "text.required"}}
  <label for="prefix">{{t "text.prefix-title"}}</label>
  <input type="text" name="prefix" placeholder="{{t "text.prefix"}}">
  <input type="checkbox" name="required">{{t "text.persistent"}}
  <label for="placeholder">{{t "text.default-text-title"}}</label>
  <input type="text" name="placeholder" placeholder="{{t "text.default-text"}}">
  <label for="max-chars">{{t "text.max-chars-title"}}</label>
  <input type="number" name="max-chars" value="{{t "text.max-chars"}}">
</fieldset>