<fieldset class="fieldcontain fieldcontain-warning">
  <legend>{{t "warning.field-title"}}</legend>
  <label for="label">{{t "warning.label-title"}}</label>
  <input type="text" name="label" value="{{t "warning.label"}}">
  <label for="message">{{t "warning.message-label"}}</label>
  <textarea placeholder="{{t "warning.message"}}"></textarea>
</fieldset>